RewriteEngine On

# Si la solicitud no es para un archivo existente
RewriteCond %{REQUEST_FILENAME} !-f
# Si la solicitud no es para un directorio existente
RewriteCond %{REQUEST_FILENAME} !-d
# Redirigir a index.php
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
